<div class='hero min-h-screen absolute top-0 left-0 z-10' style='background-image: url(/assets/background.jpg)'>
  <div class='hero-overlay bg-opacity-60'></div>
  <div class='hero-content text-center text-neutral-content'>
    <div class='max-w-md'>
      <h1 class='mb-5 text-5xl font-bold'>Orchid Provider</h1>
      <p class='mb-5'>Elevate your space with the enchanting beauty of orchids at Orchidora. Explore a curated
        collection of vibrant phalaenopsis and elegant dendrobiums, each meticulously cultivated for a touch of timeless
        elegance. Welcome to a world where nature's artistry blooms in every orchid – welcome to Orchidora.</p>
      <a class='btn btn-primary py-4 px-8 text-white rounded' href='/orchid'>Let's go</a>
    </div>
  </div>
</div>